In [ ]:
# Spark Session
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder.appName("User Defined Functions")
    .master("spark://spark-master:7077")
    .config("spark.executor.memory", "512M")
    .getOrCreate()
)

spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/11 16:24:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
emp = (
    spark.read.format("csv")
    .option("header", True)
    .option("inferSchema", True)
    .load("hdfs://namenode:9000/input/data/employee_records.csv")
)
emp.rdd.getNumPartitions()

8

In [ ]:
# Create a function to generate 10% of Salary as Bonus


def bonus(salary):
    return int(salary) * 0.1

In [5]:
# Register as UDF
from pyspark.sql import functions as F

bonus_udf = F.udf(bonus)

emp.withColumn("bonus", bonus_udf(F.col("salary"))).show()

+----------+----------+--------------------+----------+--------------------+--------------------+------+-------------+------------------+
|first_name| last_name|           job_title|       dob|               email|               phone|salary|department_id|             bonus|
+----------+----------+--------------------+----------+--------------------+--------------------+------+-------------+------------------+
|   Richard|  Morrison|Public relations ...|1973-05-05|melissagarcia@exa...|       (699)525-4827|512653|            8|           51265.3|
|     Bobby|  Mccarthy|   Barrister's clerk|1974-04-25|   llara@example.net|  (750)846-1602x7458|999836|            7|           99983.6|
|    Dennis|    Norman|Land/geomatics su...|1990-06-24| jturner@example.net|    873.820.0518x825|131900|           10|           13190.0|
|      John|    Monroe|        Retail buyer|1968-06-16|  erik33@example.net|    820-813-0557x624|485506|            1|48550.600000000006|
|  Michelle|   Elliott|      Air cabin crew|1975-03-31|tiffanyjohnston@e...|       (705)900-5337|604738|            8|           60473.8|
|    Ashley|   Montoya|        Cartographer|1976-01-16|patrickalexandra@...|        211.440.5466|483339|            6|           48333.9|
| Nathaniel|     Smith|     Quality manager|1985-06-28|  lori44@example.net|        936-403-3179|419644|            7|           41964.4|
|     Faith|  Cummings|Industrial/produc...|1978-07-01| ygordon@example.org|       (889)246-5588|205939|            7|           20593.9|
|  Margaret|    Sutton|Administrator, ed...|1975-08-16| diana44@example.net|001-647-530-5036x...|671167|            8|           67116.7|
|      Mary|    Sutton|   Freight forwarder|1979-12-28|  ryan36@example.com|   422.562.7254x3159|993829|            7| 99382.90000000001|
|      Jake|      King|       Lexicographer|1994-07-11|monica93@example.org|+1-535-652-9715x6...|702101|            4|           70210.1|
|   Heather|     Haley|         Music tutor|1981-06-01|stephanie65@examp...|   (652)815-7973x298|570960|            6|           57096.0|
|    Thomas|    Thomas|Chartered managem...|2001-07-17|pwilliams@example...|001-245-848-0028x...|339441|            6|           33944.1|
|   Leonard|   Carlson|       Art therapist|1990-10-18|gabrielmurray@exa...|          9247590563|469728|            8|           46972.8|
|      Mark|      Wood|   Market researcher|1963-10-13|nicholas76@exampl...|   311.439.1606x3342|582291|            4|58229.100000000006|
|    Tracey|Washington|Travel agency man...|1986-05-07|  mark07@example.com|    001-912-206-6456|146456|            4|           14645.6|
|   Rachael| Rodriguez|         Media buyer|1966-12-02|griffinmary@examp...| +1-791-344-7586x548|544732|            1|54473.200000000004|
|      Tara|       Liu|   Financial adviser|1998-10-12|alexandraobrien@e...|        216.696.6061|399503|            3|           39950.3|
|       Ana|    Joseph|      Retail manager|1995-01-10|  rmorse@example.org|  (726)363-7526x9965|761988|           10|           76198.8|
|   Richard|      Hall|Engineer, civil (...|1967-03-02|brandoncardenas@e...| (964)451-9007x22496|660659|            4| 66065.90000000001|
+----------+----------+--------------------+----------+--------------------+--------------------+------+-------------+------------------+
only showing top 20 rows

In [ ]:
# Create new column as bonus using UDF
from pyspark.sql.functions import expr

spark.udf.register("bonus_sql_udf", bonus, "double")
emp.withColumn("bonus", expr("bonus_sql_udf(salary)")).show()

+----------+----------+--------------------+----------+--------------------+--------------------+------+-------------+------------------+
|first_name| last_name|           job_title|       dob|               email|               phone|salary|department_id|             bonus|
+----------+----------+--------------------+----------+--------------------+--------------------+------+-------------+------------------+
|   Richard|  Morrison|Public relations ...|1973-05-05|melissagarcia@exa...|       (699)525-4827|512653|            8|           51265.3|
|     Bobby|  Mccarthy|   Barrister's clerk|1974-04-25|   llara@example.net|  (750)846-1602x7458|999836|            7|           99983.6|
|    Dennis|    Norman|Land/geomatics su...|1990-06-24| jturner@example.net|    873.820.0518x825|131900|           10|           13190.0|
|      John|    Monroe|        Retail buyer|1968-06-16|  erik33@example.net|    820-813-0557x624|485506|            1|48550.600000000006|
|  Michelle|   Elliott|      Air cabin crew|1975-03-31|tiffanyjohnston@e...|       (705)900-5337|604738|            8|           60473.8|
|    Ashley|   Montoya|        Cartographer|1976-01-16|patrickalexandra@...|        211.440.5466|483339|            6|           48333.9|
| Nathaniel|     Smith|     Quality manager|1985-06-28|  lori44@example.net|        936-403-3179|419644|            7|           41964.4|
|     Faith|  Cummings|Industrial/produc...|1978-07-01| ygordon@example.org|       (889)246-5588|205939|            7|           20593.9|
|  Margaret|    Sutton|Administrator, ed...|1975-08-16| diana44@example.net|001-647-530-5036x...|671167|            8|           67116.7|
|      Mary|    Sutton|   Freight forwarder|1979-12-28|  ryan36@example.com|   422.562.7254x3159|993829|            7| 99382.90000000001|
|      Jake|      King|       Lexicographer|1994-07-11|monica93@example.org|+1-535-652-9715x6...|702101|            4|           70210.1|
|   Heather|     Haley|         Music tutor|1981-06-01|stephanie65@examp...|   (652)815-7973x298|570960|            6|           57096.0|
|    Thomas|    Thomas|Chartered managem...|2001-07-17|pwilliams@example...|001-245-848-0028x...|339441|            6|           33944.1|
|   Leonard|   Carlson|       Art therapist|1990-10-18|gabrielmurray@exa...|          9247590563|469728|            8|           46972.8|
|      Mark|      Wood|   Market researcher|1963-10-13|nicholas76@exampl...|   311.439.1606x3342|582291|            4|58229.100000000006|
|    Tracey|Washington|Travel agency man...|1986-05-07|  mark07@example.com|    001-912-206-6456|146456|            4|           14645.6|
|   Rachael| Rodriguez|         Media buyer|1966-12-02|griffinmary@examp...| +1-791-344-7586x548|544732|            1|54473.200000000004|
|      Tara|       Liu|   Financial adviser|1998-10-12|alexandraobrien@e...|        216.696.6061|399503|            3|           39950.3|
|       Ana|    Joseph|      Retail manager|1995-01-10|  rmorse@example.org|  (726)363-7526x9965|761988|           10|           76198.8|
|   Richard|      Hall|Engineer, civil (...|1967-03-02|brandoncardenas@e...| (964)451-9007x22496|660659|            4| 66065.90000000001|
+----------+----------+--------------------+----------+--------------------+--------------------+------+-------------+------------------+
only showing top 20 rows

In [7]:
# Create new column as bonus without UDF

emp.withColumn("bonus", expr("salary * 0.1")).show()

+----------+----------+--------------------+----------+--------------------+--------------------+------+-------------+-------+
|first_name| last_name|           job_title|       dob|               email|               phone|salary|department_id|  bonus|
+----------+----------+--------------------+----------+--------------------+--------------------+------+-------------+-------+
|   Richard|  Morrison|Public relations ...|1973-05-05|melissagarcia@exa...|       (699)525-4827|512653|            8|51265.3|
|     Bobby|  Mccarthy|   Barrister's clerk|1974-04-25|   llara@example.net|  (750)846-1602x7458|999836|            7|99983.6|
|    Dennis|    Norman|Land/geomatics su...|1990-06-24| jturner@example.net|    873.820.0518x825|131900|           10|13190.0|
|      John|    Monroe|        Retail buyer|1968-06-16|  erik33@example.net|    820-813-0557x624|485506|            1|48550.6|
|  Michelle|   Elliott|      Air cabin crew|1975-03-31|tiffanyjohnston@e...|       (705)900-5337|604738|            8|60473.8|
|    Ashley|   Montoya|        Cartographer|1976-01-16|patrickalexandra@...|        211.440.5466|483339|            6|48333.9|
| Nathaniel|     Smith|     Quality manager|1985-06-28|  lori44@example.net|        936-403-3179|419644|            7|41964.4|
|     Faith|  Cummings|Industrial/produc...|1978-07-01| ygordon@example.org|       (889)246-5588|205939|            7|20593.9|
|  Margaret|    Sutton|Administrator, ed...|1975-08-16| diana44@example.net|001-647-530-5036x...|671167|            8|67116.7|
|      Mary|    Sutton|   Freight forwarder|1979-12-28|  ryan36@example.com|   422.562.7254x3159|993829|            7|99382.9|
|      Jake|      King|       Lexicographer|1994-07-11|monica93@example.org|+1-535-652-9715x6...|702101|            4|70210.1|
|   Heather|     Haley|         Music tutor|1981-06-01|stephanie65@examp...|   (652)815-7973x298|570960|            6|57096.0|
|    Thomas|    Thomas|Chartered managem...|2001-07-17|pwilliams@example...|001-245-848-0028x...|339441|            6|33944.1|
|   Leonard|   Carlson|       Art therapist|1990-10-18|gabrielmurray@exa...|          9247590563|469728|            8|46972.8|
|      Mark|      Wood|   Market researcher|1963-10-13|nicholas76@exampl...|   311.439.1606x3342|582291|            4|58229.1|
|    Tracey|Washington|Travel agency man...|1986-05-07|  mark07@example.com|    001-912-206-6456|146456|            4|14645.6|
|   Rachael| Rodriguez|         Media buyer|1966-12-02|griffinmary@examp...| +1-791-344-7586x548|544732|            1|54473.2|
|      Tara|       Liu|   Financial adviser|1998-10-12|alexandraobrien@e...|        216.696.6061|399503|            3|39950.3|
|       Ana|    Joseph|      Retail manager|1995-01-10|  rmorse@example.org|  (726)363-7526x9965|761988|           10|76198.8|
|   Richard|      Hall|Engineer, civil (...|1967-03-02|brandoncardenas@e...| (964)451-9007x22496|660659|            4|66065.9|
+----------+----------+--------------------+----------+--------------------+--------------------+------+-------------+-------+
only showing top 20 rows

In [8]:
spark.conf.set("spark.sql.adaptive.enabled", False)
spark.conf.set("spark.sql.adaptive.coalescePartitions.enabled", False)

In [ ]:
from pyspark.sql import functions as F

emp_skew = (
    spark.read.format("csv")
    .option("header", True)
    .option("inferSchema", True)
    .load("hdfs://namenode:9000/input/data/employee_records_skewed.csv")
)
emp_skew = emp_skew.filter(F.col("salary") < 25000).join(
    emp_skew.filter(F.col("salary") < 25000), on="department_id"
)
emp_skew = emp_skew.coalesce(2)

In [ ]:
# Register as UDF
from pyspark.sql import functions as F

dept_square = F.udf(lambda x: x**2)
# Apply the UDF to the DataFrame (skewed), which should trigger a spill
emp_skew.withColumn("dept_square", dept_square(F.col("department_id"))).write.format(
    "noop"
).mode("overwrite").save()

In [11]:
spark.stop()